.for-you-cont {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
.for-you-cont #for_you_heading{
    font-size: 40px;
    color: dodgerblue;
    border-bottom: 10px groove dodgerblue;
    padding: 10px;
    width: 50%;
}

#for_you_heading span {
    font-size: 40px;
    color: dodgerblue;
}

.for-you-cont .for_you {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-color: whitesmoke;
    margin: 0px auto;
    gap: 10px;
    padding: 20px 0px;
    text-align: center;
}

.for_you .single-product {
    width: 200px;
}

.for_you .single-product img {
    width: 100%;
}

@media screen and (max-width: 1300px){
    .for-you-cont .for_you {
        grid-template-columns: auto auto auto auto;
    }


    .for_you .single-product {
        width: 180px;
    }
}

@media screen and (max-width: 910px){
    .for-you-cont .for_you {
        grid-template-columns: auto auto auto;
    }

    .for-you-cont .for_you .single-product {
        width: 160px;
    }

    .for-you-cont #for_you_heading {
        font-size: 30px;
    }

    #for_you_heading span {
        font-size: 30px;
    }
}

@media screen and (max-width: 620px) {

    .for-you-cont {
        margin-bottom: 10vh;
    }
    .for-you-cont #for_you_heading {
        font-size: 26px;
    }

    #for_you_heading span {
        font-size: 26px
    }

    .for-you-cont .for_you {
        grid-template-columns: auto auto;
    }

    .for-you-cont .for_you .single-product {
        width: 100px;
    }
}

@media  screen and (max-width: 300px) {

    .for-you-cont .for_you {
        grid-template-columns: auto auto;
    }

    .for-you-cont .for_you .single-product {
        width: 80px;
    }
    .for-you-cont #for_you_heading {
        font-size: 22px;
    }

    #for_you_heading span {
        font-size: 22px
    }
}